# Managed by Ansible (roles/consul). Derives from group_vars/all.yml.
datacenter   = "dc1"
data_dir     = "/opt/consul"
bind_addr    = "{{ cluster_nodes[kardamom_node].ip }}"
client_addr  = "0.0.0.0"
retry_join   = ["{{ control_ip }}"]

{% if inventory_hostname in groups['control'] %}
server           = true
bootstrap_expect = 1

ui_config {
  enabled = true
}
{% else %}
server = false
{% endif %}
